.item{
    width:100%;
    height:50px;
    background-color: yellow;
    margin-bottom: 5px;
}

.item.done{
    background-color:green; 
}

.deleteItem{
    font-size: 25px;
    color: red; 
    float: right;
    cursor: pointer;
    border: 1px solid red;
}

.doneTask{
    float: left;
    font-size:15px;
    color: black; 
    cursor: pointer;
    border: 1px solid black;
}

.doneTask:hover{
    background-color: green;
    color: red;
}